.results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.results-container .results-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

.results-container .results-txt h1 {
  color: #1D355D;
  font-size: 48px;
}

.results-container .results-txt p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.results-container .results-txt p span {
  font-size: 36px;
  font-weight: bold;
  color: #07e49c;
}

.results-container .btn-container {
  display: grid;
  grid-gap: 0.5em;
}
